<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Megha">
  <test name="MeghaTest">
    <classes>
      <class name="com.TestNG.ParametrizationTestNG"/>
        <class name="CommonFunctionLibrary.CreateSuplier"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->